.btn{

    font-weight: 600;
    
    &-sm{
        font-size: .9rem  !important;
    }

    &-secondary{
        background-color: $light;
        color: $primary;
        border: none;

        &:hover{
            background-color: $primary;
            color: $white;
        }
    }
}