.btn{

    font-weight: 600;

    &-sm{
        font-size: .9rem  !important;
    }

    &-secondary{
        background-color: $light;
        color: $primary;
        border: 1px solid rgba($primary, .3);

        &:hover{
            background-color: $primary;
            color: $white;
        }
    }
}