.contest{


    &-brand{
        display: block;
        margin-bottom: 4rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        color: $white;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
            color: $white;
        }
        img{
            object-fit: cover;
            width: 3.2rem;
            height: 3.2rem;
            border-radius: .5rem;
        }


        &.big{
            display: flex;
            gap: 1rem;
            justify-content: flex-start;
            flex-direction: column;


            img{
                width: 100%;
                height: 350px;
                object-fit: cover;
            }
        }
        &.sized{
            margin-bottom: 1rem;
            img{
                width: 100%;
                height: 350px;
                object-fit: cover;
                
                @include respond(tab){
                    width: 350px;

                }
            }
        }
    }
    
    
}

.contestants-info{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    &.small{
        flex-direction: row;
        padding: 1rem;
        border-radius: .5rem;
        background-color: rgba($white, .1);
        border: 1px dashed $white;
        backdrop-filter: blur(4px);
        margin-bottom: 1rem;
        
        h6{
            font-weight: 500;
            margin-bottom: 0;
        }

        img{
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    }
}