.contest{


    &-brand{
        display: block;
        margin-bottom: 4rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        color: $white;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
            color: $white;
        }
        img{
            object-fit: cover;
            width: 3.2rem;
            height: 3.2rem;
            border-radius: .5rem;
        }


        &.big{
            display: flex;
            gap: 1rem;
            justify-content: flex-start;
            flex-direction: column;


            img{
                width: 100%;
                height: 350px;
                object-fit: cover;
            }
        }
    }
    
    
}