h1 ,.h1{
    font-family: $font-family-serif;
    
    @include respond(tab){
        font-size: $h1-font-size;
    }
}
h2, .h2{
    font-size: $h2-font-size;
    font-family: $font-family-serif;

}
h3, .h3{
    font-size: $h3-font-size;
    font-family: $font-family-serif;

}
h4, .h4{
    font-size: $h4-font-size;
}

h1,h2{
    font-weight: 700;
    color: $dark;
}
h3,h4{
    font-weight: 600;
    color: $dark;
}

p{
    font-size: $font-size-md;
    color: $text;
}

.subheading{
    font-size: $h4-font-size;
}

