.hero{
    background-image: linear-gradient(to left, rgba($white, .8), rgba($white, .8)), url('../img/world-svg.svg');
    background-repeat: no-repeat;
    background-position: right center;
    height: calc(100vh - #{$nav-height});
    display: flex;
    align-items: center;

    h1,p{
        margin-bottom: 2rem;
    }
}